Source: gxde-dclc
Section: metapackages
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>, LinuxDeepin Project <linuxdeepin@linuxdeepin.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.gfdgdxi.top

Package: gxde-desktop-dclc
Architecture: all
Depends: ${misc:Depends},
 deepin-desktop-base,
 dde-desktop,
 dde-dock,
 dde-control-center(>> 2.90.5),
 dde-launcher,
 startdde,
 dde-session-ui,
 dde-file-manager,
 dde-qt5integration,
 eject,
 gxde-wallpapers,
 fonts-noto,
 dde-kwin,
 gxde-default-settings,
 gparted,
 firefox-esr,
 grub-customizer,
 tigervnc-viewer,
 openssh-server,
 spark-store-console,
 timeshift,
 fcitx5-pinyin, 
 pardus-boot-repair,
 file-roller,
 gedit,
 fcitx5,
 com.uostools.livecdtools,
 bleachbit,
 testdisk
Recommends:
 gksu,
 deepin-system-monitor,
 pppoe,
 gvfs-fuse,
 libsane-hpaio,
 linux-firmware,
 wireless-tools,
 deepin-terminal,
 libmtp-runtime,
 open-vm-tools-desktop,
 open-vm-tools,
 usbmuxd,
 ipheth-utils,
 libimobiledevice-dev,
 libimobiledevice-utils,
 dnsutils,
 libfile-mimeinfo-perl,
 network-manager-integration-plugins,
 libtxc-dxtn-s2tc0 | libtxc-dxtn-s2tc,
 libflashplugin-pepper,
 miraclecast,
 x-display-manager,
 deepin-screen-recorder,
 warm-sched,
 boot-repair,
 ghost:i386,
 com.oray.sunlogin.client
Conflicts:
 dde-control-center(<< 2.90.5),
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
 libdframeworkdbus2(>> 15)
Description: GXDE New Desktop Environment For Deepin Community Live CD - Next
 This is a meta package depends GXDE New Desktop Envrionment.
 .
 You can safety remove it after installed.
