Source: gxde
Section: metapackages
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.gfdgdxi.top

Package: gxde-desktop-extra
Architecture: all
Recommends: ${misc:Depends},
 gxde-voice-recorder,
 deepin-calculator,
 gxde-terminal,
 gxde-deb-installer,
 gxde-editor,
 gxde-image-viewer,
 gxde-icon-theme,
 gxde-sea-icon-theme,
 gxde-ocr,
 gxde-music,
 gxde-picker,
 gxde-font-installer,
 gxde-movie,
 gxde-quick-hash,
 gxde-sendbylan,
 gxde-dict,
 gxde-system-assistant,
 gxde-hardware-viewer,
 loongsonapplication,
 gxde-boot-maker,
 deepin-clone,
 dde-printer | system-config-printer,
 deepin-system-monitor,
 gxde-downloader,
 gparted,
 fantascene-dynamic-wallpaper,
 x11vnc,
 com.github.minesweep,
 2048-qt,
 papirus-icon-theme | gxde-desktop-android,
 remmina,
 screensaver-pp,
 gxde-time-screensaver,
 gxde-desktop,
 bash-pinyin-completion,
 gxde-kernel-manager,
 deepin-log-viewer,
 fcitx5-table-wubi98,
 fcitx5-pinyin-zhwiki,
 dde-cooperation,
Description: GXDE New Desktop Environment Extra - Next
 This is a meta package depends GXDE New Desktop Envrionment Extra.
 .
 You can safety remove it after installed.

Package: gxde-desktop-android
Architecture: all
Depends: 
 ${misc:Depends},
 gxde-daemon,
 gxde-desktop,
 gxde-terminal, 
 gxde-deb-installer, 
 gxde-editor, 
 gxde-image-viewer, 
 gxde-music, 
 gxde-font-installer, 
 gxde-movie, 
 gxde-quick-hash, 
 spark-store | aptss, 
 deepin-system-monitor,
 gxde-control-center,
 gxde-file-manager,
 spark-store | aptss,
Recommends:
 gxde-ocr
Conflicts:
 plymouth-theme-gxde-logo,
 linux-kernel-gxde-i386,
 linux-kernel-oldstable-gxde-i386,
 linux-kernel-gxde-amd64,
 linux-kernel-oldstable-gxde-amd64,
 linux-kernel-gxde-arm64,
 linux-kernel-oldstable-gxde-arm64,
 linux-kernel-gxde-mips64el,
 linux-kernel-oldstable-gxde-mips64el,
 linux-kernel-gxde-loong64,
 linux-kernel-oldstable-gxde-loong64,
 plymouth,
 tela-grub2-themes,
 plymouth-theme-gxde-logo,
Description: GXDE New Desktop Environment For PRoot - Next
 This is a meta package depends GXDE New Desktop Envrionment in Android PRoot.
 .

Package: gxde-desktop
Architecture: all
Depends: ${misc:Depends},
 gxde-desktop-base,
 gxde-desktop-panel,
 gxde-dock,
 gxde-control-center,
 gxde-launcher,
 startgxde,
 gxde-session-ui,
 gxde-artwork,
 gxde-file-manager,
 dde-qt5integration,
 eject,
 gxde-wallpapers,
 fonts-noto,
 gxde-wm-shim | gxde-kwin-neo,
 deepin-screensaver,
 gxde-default-settings,
 gxde-shell-tools,
 gxde-compressor,
Recommends:
 gxde-desktop-extra | gxde-desktop-android,
 gxde-editor,
 gxde-introduction,
 pppoe,
 gvfs-fuse,
 smbclient,
 python-smbc,
 cups-filters,
 printer-driver-all,
 foomatic-db-compressed-ppds,
 foomatic-db-engine,
 openprinting-ppds,
 libsane-hpaio,
 linux-firmware,
 wireless-tools,
 ttf-deepin-opensymbol,
 gxde-terminal,
 printer-driver-hpcups,
 printer-driver-hpijs,
 libmtp-runtime,
 samsung-print,
 open-vm-tools-desktop,
 open-vm-tools,
 usbmuxd,
 ipheth-utils,
 libimobiledevice-dev,
 libimobiledevice-utils,
 dnsutils,
 libfile-mimeinfo-perl,
 deepin-shortcut-viewer,
 crda,
 network-manager-integration-plugins,
 libtxc-dxtn-s2tc0 | libtxc-dxtn-s2tc,
 libflashplugin-pepper,
 miraclecast,
 x-display-manager,
 gxde-image-viewer,
 gxde-calendar,
 gxde-voice-recorder,
 deepin-screen-recorder,
 warm-sched,
 deepin-camera,
 gxde-top-panel,
 fcitx5-material-color,
 tela-grub2-themes,
 plymouth-theme-gxde-logo,
 fcitx5,
 fcitx5-table,
 fantascene-dynamic-wallpaper,
 x11vnc,
 apt-is-aptss,
Conflicts:
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
Description: GXDE New Desktop Environment - Next
 This is a meta package depends GXDE New Desktop Envrionment.
 .
 You can safety remove it after installed.
