Source: gxde
Section: metapackages
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.gfdgdxi.top

Package: gxde-desktop-extra
Architecture: all
Recommends: ${misc:Depends},
 gxde-voice-recorder,
 gxde-calculator,
 gxde-terminal,
 gxde-deb-installer,
 gxde-editor,
 gxde-image-viewer,
 gxde-icon-theme,
 gxde-sea-icon-theme,
 gxde-ocr,
 gxde-music,
 gxde-picker,
 gxde-font-installer,
 gxde-movie,
 gxde-quick-hash,
 gxde-sendbylan,
 gxde-dict,
 gxde-system-assistant,
 spark-store | aptss,
 gxde-boot-maker,
 deepin-clone,
 system-config-printer,
 deepin-system-monitor,
 gxde-downloader
Description: GXDE New Desktop Environment Extra - Next
 This is a meta package depends GXDE New Desktop Envrionment Extra.
 .
 You can safety remove it after installed.

Package: gxde-desktop-android
Architecture: all
Depends: 
 ${misc:Depends},
 gxde-daemon,
 gxde-desktop,
Recommends:
 gxde-desktop-extra
Conflicts:
 plymouth-theme-gxde-logo,
 linux-kernel-gxde-i386,
 linux-kernel-oldstable-gxde-i386,
 linux-kernel-gxde-amd64,
 linux-kernel-oldstable-gxde-amd64,
 linux-kernel-gxde-arm64,
 linux-kernel-oldstable-gxde-arm64,
 linux-kernel-gxde-mips64el,
 linux-kernel-oldstable-gxde-mips64el,
 linux-kernel-gxde-loong64,
 linux-kernel-oldstable-gxde-loong64,
Description: GXDE New Desktop Environment For PRoot - Next
 This is a meta package depends GXDE New Desktop Envrionment in Android PRoot.
 .

Package: gxde-desktop
Architecture: all
Depends: ${misc:Depends},
 deepin-desktop-base,
 dde-desktop,
 dde-dock,
 dde-control-center(>> 2.90.5),
 dde-launcher,
 startdde,
 dde-session-ui,
 gxde-artwork,
 dde-file-manager,
 dde-qt5integration,
 eject,
 gxde-wallpapers,
 fonts-noto,
 gxde-kwin | dde-kwin,
 deepin-screensaver,
 gxde-default-settings,
 gxde-shell-tools
Recommends:
 gxde-desktop-extra,
 file-roller,
 gxde-editor,
 pppoe,
 gvfs-fuse,
 smbclient,
 python-smbc,
 cups-filters,
 printer-driver-all,
 foomatic-db-compressed-ppds,
 foomatic-db-engine,
 openprinting-ppds,
 libsane-hpaio,
 linux-firmware,
 wireless-tools,
 ttf-deepin-opensymbol,
 gxde-terminal,
 printer-driver-hpcups,
 printer-driver-hpijs,
 libmtp-runtime,
 samsung-print,
 open-vm-tools-desktop,
 open-vm-tools,
 usbmuxd,
 ipheth-utils,
 libimobiledevice-dev,
 libimobiledevice-utils,
 dnsutils,
 libfile-mimeinfo-perl,
 deepin-shortcut-viewer,
 crda,
 network-manager-integration-plugins,
 libtxc-dxtn-s2tc0 | libtxc-dxtn-s2tc,
 libflashplugin-pepper,
 miraclecast,
 x-display-manager,
 gxde-image-viewer,
 gxde-calendar,
 gxde-calculator,
 gxde-voice-recorder,
 deepin-screen-recorder,
 warm-sched,
 cheese,
 gxde-top-panel,
 plank,
 fcitx5-material-color,
 tela-grub2-themes,
 plymouth-theme-gxde-logo,
 fcitx5,
 fcitx5-table
Conflicts:
 dde-control-center(<< 2.90.5),
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
 libdframeworkdbus2(>> 15)
Description: GXDE New Desktop Environment - Next
 This is a meta package depends GXDE New Desktop Envrionment.
 .
 You can safety remove it after installed.
